{% extends 'Base.html'%}
    {% block content%}
    {% if messages %}
        {% for message in messages %}
         {% if message.tags %}  <script>alert("{{ message }}")</script> {% endif %}

        {% endfor %}

    {% endif %}
    {%load static%}

<style>
    .box {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
}

.box > div { /*The > denotes only the first or immediate child will be affected*/
  width: 500px;
  height: auto;
  /*border: dotted;
*/
}

input[type=text] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        border: none;
        border-bottom: 2px solid red;
    }

input[type=Password] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        border: none;
        border-bottom: 2px solid red;
    }

input[type=submit]{
    box-shadow: inset 0 0 0 0 #54b3d6;
  transition: color .3s ease-in-out, box-shadow .2s ease-in-out;
}

input[type=submit]:hover {
  box-shadow: inset 100px 0 0 0 #54b3d6;
  color: white;
}

</style>

<div style="background-image:  url('/media/bg.jpg'); background-repeat:no-repeat;background-size:cover;  height:658px; width:100%;">
    <div class="box">
        <div class="shadow-lg p-3 mb-5 bg-body rounded ">
             <div class="row">
                <div class="col-md-2">
                    <img src="/media/profile.png" height="60" />
                </div>
                <div class="col-md-10" style="padding-top:20px;">
                    <h3 style="font:italic;font-family: sans-serif;">Admin Login</h3> 
                </div>
            </div>
             <hr>
            <form method="POST" action="/Admin_Login/" enctype="multipart/form-data" style="padding:25px;">
                {% csrf_token %}
              <div class="row">
                  <div class="col-md-12">
                    <label for="fname">Username</label>
                     <input type="text" id="username" name="aname" required> 
                  </div>
                  <div class="col-md-12">
                    <label for="fname">Password</label>
                     <input type="Password" id="password" name="apass" required>
                  </div>
              </div>
              <br>
              <div class="row">
                  <div class="col-md-12" style="display: flex;justify-content: center;">
                      <input class="btn btn-secondary" type="submit" name="submit">
                  </div>
              </div>

              <br>
            </form>
        </div>
    </div>
</div>

    {% endblock %}
