{% extends 'Base.html'%}
    {% block content%}
    {% if messages %}
        {% for message in messages %}
         {% if message.tags %}  <script>alert("{{ message }}")</script> {% endif %}

        {% endfor %}

    {% endif %}
    {%load static%}
    
<div style="background-image:  url('/media/bg.jpg'); background-repeat:no-repeat;background-size:cover;  height:658px; width:100%;">
    <h1 class="H">View Treatment</h1>

    <div class="container">
        <table class="table table-warning table-stripped table-hover">
            <thead>
                <th>ID</th>
                <th>Patient Id</th>
                <th>Patient Name</th>
                <th>Treatment</th>
            </thead>

            <tbody>
                {%for i in details%}
                <tr>
                    <td>{{i.id}}</td>
                    <td>{{i.Patient_Id}}</td>
                    <td>{{name}}</td>
                    <td>{{i.Treatment}}</td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
    </div>
</div>
{%endblock%}
