{% extends 'Base.html'%}
    {% block content%}
    {% if messages %}
        {% for message in messages %}
         {% if message.tags %}  <script>alert("{{ message }}")</script> {% endif %}

        {% endfor %}

    {% endif %}
    {%load static%}

<style>
   .box{
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: 20px;
    }

    .box>div {
 width: 600px;
  height: auto;
  background-color: #fae8d2;
/*  border: 1px solid;*/
  padding: 10px;
  box-shadow: 5px 10px #888888;
  border-radius: 10px;
}


</style>
<div style="background-image:  url('/media/bg.jpg'); background-repeat:no-repeat;background-size:cover;  height:658px; width:100%;">
<div class="box">
       <div>
        <h1>Change Password</h1>
        <hr>
        {%for i in details%}
            <form method="POST" action="/Patient_Change_Password/" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                <div class="col-md-4">
                    <label class="form-check-label">User Id</label>
                </div>

                <div class="col-md-6">
                    <input type="text" name="id" value="{{i.id}}" readonly class="form-control">
                </div>
            </div>
            <br>

            <div class="row">
                <div class="col-md-4">
                    <label class="form-check-label">New Password</label>
                </div>

                <div class="col-md-6">
                    <input type="password" name="new_pass" required class="form-control" value="">
                </div>
            </div>
            <br>

            <div class="row">
                <div class="col-md-4">
                    <label class="form-check-label">Confirm New Password</label>
                </div>

                <div class="col-md-6">
                    <input type="password" name="confirm_pass" value="" required class="form-control">
                </div>
            </div>
            <br>

            <div class="row">
                <div style="text-align:center;" class="col-md-12">
                    <input class="btn btn-secondary" type="submit" value="Change Password">
                </div>
            </div>
            </form>
       {%endfor%}
       </div>
    </div>
</div>
{% endblock %}
